youtube-transcript-api==0.6.1
deepmultilingualpunctuation
nltk
--upgrade --no-deps --force-reinstall git+https://github.com/openai/whisper.git
spacy
ffmpeg
tiktoken
numba
bert-extractive-summarizer
librosa
pydub
numpy
